Repository tedilabs/terraform-okta-modules, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: brand, :floppy_disk: group, :floppy_disk: user

Add brand module
  README.md
  modules/brand/README.md
  modules/brand/main.tf
  modules/brand/outputs.tf
  modules/brand/variables.tf
  modules/brand/versions.tf
Labels: :floppy_disk: brand

Support custom domains for brand
  modules/brand/README.md
  modules/brand/domains.tf
  modules/brand/outputs.tf
  modules/brand/variables.tf
Labels: :floppy_disk: brand

Add group module
  modules/group/README.md
  modules/group/main.tf
  modules/group/outputs.tf
  modules/group/variables.tf
  modules/group/versions.tf
Labels: :floppy_disk: group

Add group-rule module
  modules/group-rule/README.md
  modules/group-rule/main.tf
  modules/group-rule/outputs.tf
  modules/group-rule/variables.tf
  modules/group-rule/versions.tf
Labels: none

Add user module
  modules/brand/README.md
  modules/group-rule/README.md
  modules/group/README.md
  modules/user/README.md
  modules/user/main.tf
  modules/user/outputs.tf
  modules/user/variables.tf
  modules/user/versions.tf
Labels: :floppy_disk: brand, :floppy_disk: group, :floppy_disk: user

.github/labeler.yaml:

# Modules
":floppy_disk: brand":
- modules/brand/**/*

":floppy_disk: group":
- modules/group/**/*

":floppy_disk: user":
- modules/user/**/*
