Repository tedilabs/terraform-okta-modules, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: authenticator, :floppy_disk: authentication-policy, :floppy_disk: bookmark-app, :floppy_disk: brand, :floppy_disk: global-session-policy, :floppy_disk: group, :floppy_disk: group-rule, :floppy_disk: organization, :floppy_disk: password-policy, :floppy_disk: user

Bump to v0.2.1
  VERSION
Labels: none

Implement global-session-policy
  modules/global-session-policy/README.md
  modules/global-session-policy/outputs.tf
  modules/global-session-policy/rules.tf
  modules/global-session-policy/variables.tf
  modules/password-policy/rules.tf
Labels: :floppy_disk: global-session-policy, :floppy_disk: password-policy

Implement global-session-policy (#8)
  modules/global-session-policy/README.md
  modules/global-session-policy/outputs.tf
  modules/global-session-policy/rules.tf
  modules/global-session-policy/variables.tf
  modules/password-policy/rules.tf
Labels: :floppy_disk: global-session-policy, :floppy_disk: password-policy

Bump to v0.2.2
  VERSION
Labels: none

Update lint configurations
  .editorconfig
  .pre-commit-config.yaml
  .tflint.hcl
Labels: none

chore: update pre-commit configurations
  .pre-commit-config.yaml
  modules/authentication-policy/README.md
  modules/authenticator/README.md
  modules/bookmark-app/README.md
  modules/brand/README.md
  modules/global-session-policy/README.md
  modules/group-rule/README.md
  modules/group/README.md
  modules/organization/README.md
  modules/password-policy/README.md
  modules/user/README.md
Labels: :floppy_disk: authenticator, :floppy_disk: authentication-policy, :floppy_disk: bookmark-app, :floppy_disk: brand, :floppy_disk: global-session-policy, :floppy_disk: group, :floppy_disk: group-rule, :floppy_disk: organization, :floppy_disk: password-policy, :floppy_disk: user

chore: update copyright year to 2025
  README.md
Labels: none

chore: update copyright year to 2025 (#9)
  README.md
Labels: none

fix(organization): remove deprecated rate limiting preferences
  modules/organization/README.md
  modules/organization/main.tf
  modules/organization/outputs.tf
  modules/organization/variables.tf
Labels: :floppy_disk: organization

fix(user): import error
  modules/user/README.md
  modules/user/main.tf
Labels: :floppy_disk: user

feat(global-session-policy): ignore risc variable
  modules/global-session-policy/README.md
  modules/global-session-policy/rules.tf
Labels: :floppy_disk: global-session-policy

.github/labeler.yaml:

# Modules
":floppy_disk: authenticator":
- changed-files:
  - any-glob-to-any-file:
    - modules/authenticator/**/*

":floppy_disk: authentication-policy":
- changed-files:
  - any-glob-to-any-file:
    - modules/authentication-policy/**/*

":floppy_disk: bookmark-app":
- changed-files:
  - any-glob-to-any-file:
    - modules/bookmark-app/**/*

":floppy_disk: brand":
- changed-files:
  - any-glob-to-any-file:
    - modules/brand/**/*

":floppy_disk: global-session-policy":
- changed-files:
  - any-glob-to-any-file:
    - modules/global-session-policy/**/*

":floppy_disk: group":
- changed-files:
  - any-glob-to-any-file:
    - modules/group/**/*

":floppy_disk: group-rule":
- changed-files:
  - any-glob-to-any-file:
    - modules/group-rule/**/*

":floppy_disk: organization":
- changed-files:
  - any-glob-to-any-file:
    - modules/organization/**/*

":floppy_disk: password-policy":
- changed-files:
  - any-glob-to-any-file:
    - modules/password-policy/**/*

":floppy_disk: user":
- changed-files:
  - any-glob-to-any-file:
    - modules/user/**/*
